@model IEnumerable<smileRed.Backend.Models.ProductsIngredients>

@{
    ViewBag.Title = "ViewIngredients";
}

<h2>Ingredients</h2>
    <p>
        @Html.ActionLink("New Ingredient", "AddIngredient")  
    <div class="table-responsive">
        <div></div><div></div>
        <table class="table table-bordered ">
            <tr class="active">
                <th>
                    @Html.DisplayNameFor(model => model.IngredientId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ingredient)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IngredientId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ingredient)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditIngredients", new { id = item.IngredientId }) |
                        @Html.ActionLink("Delete", "DeleteIngredients", new { id = item.IngredientId })
                    </td>
                </tr>
            }

        </table>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
